.idea/

!extern/CMakeLists.txt.spdlog
!extern/CMakeLists.txt.googletest
extern

bin/
*.iml
CMakeCache.txt
CMakeFiles
cmake-build-debug
cmake_install.cmake
*.cbp
*.cmake
*.pc
*.log
Makefile
*.tcl
lib/
Testing/
coverage/
